# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ----------------------
# Virtual Environments
# ----------------------
.venv/
venv/
env/
ENV/

# ----------------------
# VS Code / IDE
# ----------------------
.vscode/
.idea/

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs & Temp
# ----------------------
*.log
*.tmp
*.swp

# ----------------------
# Model Files (large)
# ----------------------
*.pt
*.h5
*.onnx

# ----------------------
# Dataset (very important)
# ----------------------
dataset/


# ----------------------
# Streamlit cache
# ----------------------
.streamlit/

# ----------------------
# Jupyter Notebooks
# ----------------------
.ipynb_checkpoints/

# ----------------------
# Build / Dist
# ----------------------
build/
dist/
*.egg-info/

# ----------------------
# Environment variables
# ----------------------
.env